.toc ol {
    counter-reset: li;
    list-style-type: none;

}
div.toc > ol {
    padding: 0;
    margin-left: 25px
}
.toc ol li::before {
    counter-increment: li;
    content: counters(li,".") ".";
    padding-right: 10px;
}