<div class="border d-inline-block pr-4 pt-3 bg-light toc">
    <div class="ml-4 mb-2"><b>Content</b></div>

{% for item in tocc %}
    {% if item.list_open %}
        <ol>
    {% endif %}
        {% if item.item_open %}
            <li>
        {% endif %}
        {% if item.text %}
            <a href="#{{ item.href }}" title="{{ item.text }}">{{ item.text }}</a>
        {% endif %}
        {% if item.item_close %}
            </li>
        {% endif %}
    {% if item.list_close %}
        </ol>
    {% endif %}
{% endfor %}

</div>